@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Courier+Prime&family=Inter:wght@100;200;700&display=swap');

* {
    /* outline: 1px solid limegreen; */
}

:root {
    --dark-navy: #020c1b;
    --navy: #0A192F;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    /* 64ffda */
    --green: #04d9ff;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

@font-face {
    font-family: inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    /* Add additional font formats if necessary */
   } 

.project-card {
    width: 90%;
    margin: 25px 0 25px 0 !important;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .project-card {
        width: 80%;
    }
}

@media screen and (min-width: 1100px) {
    .project-card {
        width: 70%;
    }
}

.project-card ul {
    padding: 0;
}

.project-image {
    position: relative;
}

.project-card img {
    height: 100%;
    background-size: cover;
}

.img-hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.img-hover a {
    height: 50%;
    display: block;
    color: var(--green) !important;
    text-decoration: none;
}

.hover-live-link,
.hover-code-link {
    height: 100%;
}

.hover-live-link:hover ,
.hover-code-link:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.project-card h4 {
    color: var(--lightest-slate);
}

.project-card p {
    color: var(--light-slate);
}
