/* .project-card {
    width: 90%;
    margin: 25px 0 25px 0 !important;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .project-card {
        width: 80%;
    }
}

@media screen and (min-width: 1100px) {
    .project-card {
        width: 70%;
    }
}

.project-card ul {
    padding: 0;
}

.project-image {
    position: relative;
}

.project-card img {
    height: 100%;
    background-size: cover;
}

.img-hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.img-hover a {
    height: 50%;
    display: block;
}

.hover-live-link,
.hover-code-link {
    height: 100%;
} */

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Courier+Prime&family=Inter:wght@100;200;700&display=swap');

* {
    /* outline: 1px solid limegreen; */
}

:root {
    --dark-navy: #020c1b;
    --navy: #0A192F;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    /* 64ffda */
    --green: #04d9ff;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

@font-face {
    font-family: inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    /* Add additional font formats if necessary */
} 

.project-card {
    max-width: 90%;
    padding: 0;
   margin-bottom: 200px !important;
    /* padding: 20px 0 20px 0; */
    background-color: var(--dark-navy);
}

@media screen and (min-width: 993px) {
    .project-card {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .project-card {
        max-width: 70%;
    }
}

.card-image {
    box-sizing: border-box;
    position: relative;
    aspect-ratio: 1.3/1;
}

.img-border {
    border: 8px solid var(--green);
    position: absolute;
    height: 95%;
    aspect-ratio: 1.3/1;
    bottom: 0;
    right: 5%;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
}

.card-image img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    height: 95%;
    aspect-ratio: 1.3/1;
    z-index: 1;
}

.card-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
    transition: opacity 0s ease-in; /* Smooth transition effect for opacity */
}

.project-card:hover .card-image::before {
  opacity: 0; /* Fade out the overlay on hover */
  transition: opacity 0.2s ease-in; /* Smooth transition effect for opacity */
}

@media screen and (min-width: 768px) {
    .card-body {
        padding-top: 0;
    }
}


.card-body h4 {
    font-family: inter;
    font-weight: 900;
    font-size: 1.7em;
    color: var(--dark-slate);
}

.card-body h3 {
    font-family: inter;
    font-weight: 900;
    font-size: 2em;
    color: var(--lightest-slate);
}

.card-body ul {
    padding-left: 0;
}